@import url(//fonts.googleapis.com/css?family=EB+Garamond|PT+Sans+Caption:700);

html, body {
	height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

header#page-header {
	color: white;
	padding: 1em;
	position: fixed;
	top: 0;
	width: 100%;
}

#page-title {
	display: inline-block;
	font-size: 1.5em;
}

#page-title a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

section#landing {
	height: 100vh;
	width: 100vw;
}

article.slideshow {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	box-shadow: 0 -1px 10px rgba(0, 0, 0, .5);
	color: #FFF;

	height: 100%;
	width: 100%;

}

article.slideshow header {
	background: rgba(0, 0, 0, 0.25);
	top: 75vh;

	position: relative;

	padding-bottom: 1em;
	padding-left: 10vw;
	padding-top: 1em;
}
