@import url(//fonts.googleapis.com/css?family=EB+Garamond|PT+Sans+Caption:700);

html, body {
	height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

header#page-header {
	color: white;
	padding: 1em 5vw;
	position: fixed;
	top: 0;
	width: 100%;
}

#page-title {
	display: inline-block;
	font-size: 1.5em;
	margin-right: 1.25em;
}

#page-title a {
	color: inherit;
	font-weight: bold;
}

nav#main-nav {
	display: inline-block;
}

#main-nav ul {
	margin: 0;
	padding: 0;
}

#main-nav li {
	display: inline-block;
	margin: 0 1.25em;
	padding: 0;
}

#main-nav a {
	font-size: 1.1em;
}

section#landing {
	height: 100vh;
	width: 100vw;
}

article.landing-slide,
article.slideshow {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	box-shadow: 0 -1px 10px rgba(0, 0, 0, .5);
	color: #FFF;

	height: 100%;
	width: 100%;

}

article.landing-slide header,
article.slideshow header {
	background: rgba(0, 0, 0, 0.25);

	position: relative;

	padding: 1em 10vw;
	top: 75vh;
}

article.slideshow header {
	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: space-between;
	-webkit-justify-content: space-between;
}

article.slideshow a {
	color: white;
}