#new-category input[type="text"] {
	margin: 15px auto;
	text-align: center;
}

input[name="heading"] {
	font-size: 2em;
}

input[name="description"] {
	font-size: 1.2em;
}

#camera-icon-container {
	display: block;
	text-align: center;
}

#camera-icon {
	color: rgba(128, 128, 128, 0.5);
}

#camera-icon iron-icon {	
	display: block;
	height: 64px;
	margin: 0 auto;
	text-align: center;
	width: 64px;
}