@import url(//fonts.googleapis.com/css?family=EB+Garamond|PT+Sans+Caption:700);

input#post-title, .title {
	border: 0;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 2em;
	height: 1.5em;
	padding: 5px;
	width: 100%;
}

input#post-title:focus, .title:focus {
	outline: none;
}

#post-creator, #aboutus-creator {
	height: 100%;
	max-width: 70%;
	margin: 0 auto;
}

#category-wrapper {
	margin: 1em auto;
}

#category-wrapper label {
	display: block;
	margin-bottom: 0.75em;
}

medium-editor-polymer {
	font-family: 'EB Garamond', serif;
	font-size: 1.25em;
	line-height: 1.5em;
}

medium-editor-polymer blockquote {
	line-height: 1.4;
	text-align: center;
	font-size: 32px;
	margin: 48px -160px;
	border: none;
	padding: 0;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: italic;
	transition: margin 100ms;
}